.git

.cache/**
!.cache/.gitkeep
.secure/**
!.secure/.gitkeep

terraform/vars.auto.tfvars

# Logs
logs
*.log
npm-debug.log*

node_modules/
report.*.json
.npm
.eslintcache
.terraform

coverage
coverageReport.json
.idea/
.vscode
!.vscode/tasks.js

.DS_Store